#header-nav{
	background-color: #ffe53e;
	border-radius: 0:
	border: 0;
}

.navbar-brand{
	padding-top: 10px;
	
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	clear: both;
}

.navbar-header{
	height: 100px;
}

.navbar-brand h1{
	clear: both;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#our-menu{
	font-size: 2em;
	font-weight: bold;
	color: blue;
}

h3{
	font-size: 1.6em;
	font-weight: bold;
	background-color: #ffe53e;
	color: blue;
}

p{
	font-size: 1.2em;
}
